<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/registro.css">
    
    <!-- Animaciones Y Componentes  -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/animacionesComponentes/bootstrap.css">
    <link rel="stylesheet" href="/css/animacionesComponentes/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animacionesComponentes/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/animacionesComponentes/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/animacionesComponentes/lightslider.min.css">

    <!-- Iconos -->
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/icono/flaticon.css">
    <link rel="stylesheet" href="/css/icono/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/icono/magnific-popup.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/icono/all.css">
    <!-- swiper CSS 
    <link rel="stylesheet" href="/css/slick.css">-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/img/d3.png">
    <title>DronsAr</title>
</head>