
<%- include('partials/head') %>
<style>
    .bg-custom {
    background-color: #B1CCE0;
}
</style>
<body>
    <%- include('partials/header') %>

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center bg-custom" style="min-height: 300px;">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Sobre nosotros</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Nosotros</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- ***** About Area Starts ***** -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="img/dronsAr-fondo.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <h4>Acerca de &amp; Nuestras Habilidades</h4>
                        <span>En DronsAr, somos apasionados por la tecnología y la innovación en el mundo de los drones. Nos dedicamos a ofrecer soluciones completas, desde la venta de drones de alta calidad hasta asesoramiento y servicios de filmación.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i>
                            <p>Contamos con un equipo de expertos que se especializan en asesoramiento personalizado, reparación profesional y filmación aérea, asegurando que cada vuelo se convierta en una experiencia única.</p>
                        </div>
                        <p>Con DronsAr, te brindamos las herramientas necesarias para explorar nuevas perspectivas y capturar momentos inolvidables, siempre con un compromiso hacia la calidad y la satisfacción del cliente.</p>
                                                <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Our Team Area Starts ***** -->
    <section class="our-team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Nuestro increible Equipo</h2>
                        <span>Nuestro increíble equipo de desarrolladores full stack transforma ideas en realidades digitales, abordando cada desafío con innovación y pasión.</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="https://www.facebook.com/garcialdavid/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                                        <li><a href="https://www.instagram.com/david.g93/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/david-leo-garc%C3%ADa993/"><i class="fab fa-linkedin"></i></a></li>
                                        <li><a href="https://github.com/David-G93" target="_blank"> <i class="fab fa-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="img/#.jpg">
                        </div>
                        <div class="down-content">
                            <h4>Leonardo David Garcia</h4>
                            <span>Full Stack Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="https://www.instagram.com/fabrixh/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="https://x.com/1_fabrxz" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/fabrixh/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                        <li><a href="https://github.com/fabrixh" target="_blank"> <i class="fab fa-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="img/#.jpg">
                        </div>
                        <div class="down-content">
                            <h4>Fabricio Herrera</h4>
                            <span>Full Stack Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="https://www.facebook.com/davidramirez651/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                                        <li><a href="https://x.com/Chavo651" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.instagram.com/davidramirez_651/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/david-ramirez-031015253/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="img/davidramirez.jpg">
                        </div>
                        <div class="down-content">
                            <h4>David Ramirez</h4>
                            <span>Full Stack Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Team Area Ends ***** -->

    <!-- ***** Services Area Starts ***** -->
    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Nuestros Servicios</h2>
                        <span>Tu aliado en el cielo: soluciones de drones para cada necesidad.</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Asesoramiento Personalizado</h4>
                        <p>Te ayudamos a elegir el dron perfecto según tus necesidades, ya sea para fotografía, exploración o uso recreativo.</p>
                        <img src="img/asesoramiento.jpg" with="200px" height="200px" alt="Asesoramiento Personalizado">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Reparación de Drones</h4>
                        <p>Ofrecemos un servicio profesional de reparación para que tu dron vuelva a volar en poco tiempo, garantizando su óptimo funcionamiento.</p>
                        <img src="img/reparacion.jpg" with="200px" height="200px" alt="Reparación de Drones">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Videos Personalizados</h4>
                        <p>Capturamos momentos únicos con nuestros drones, creando videos personalizados para eventos, promociones o proyectos especiales.</p>
                        <img src="img/videos.jpg" with="200px" height="200px" alt="Videos Personalizados">
                    </div>
                </div>
            </div>
        </div>
    </section>    
    <!-- ***** Services Area Ends ***** -->
    <%- include('partials/footer') %>
    <%- include('partials/script') %>
   
</body>
</html>