<%- include('partials/head') %>
<style>
    .text-justify {
    text-align: justify;
}

.bg-custom {
    background-color: #B1CCE0;
}
</style>
<body>
    <%- include('partials/header') %>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center bg-custom" style="min-height: 300px;">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Contáctenos</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Contact</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Contáctenos para cualquier consulta</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5 text-justify">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <input type="text" class="form-control" id="name" placeholder="Tu Nombre"
                                required="required" data-validation-required-message="Please enter your name" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" id="email" placeholder="Tú Email"
                                required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="subject" placeholder="Asunto"
                                required="required" data-validation-required-message="Please enter a subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" rows="6" id="message" placeholder="Escribe aquí tu mensaje"
                                required="required"
                                data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5 text-center"> <!-- Cambiado text-justify por text-center -->
                <h5 class="font-weight-semi-bold mb-3">¡Estamos aquí para ayudarte!</h5>
                <p>Si tienes alguna pregunta, comentario o inquietud, no dudes en ponerte en contacto con nosotros. Completa el formulario a continuación y nuestro equipo se comunicará contigo lo antes posible. Tu opinión es muy importante para nosotros y estamos comprometidos a brindarte la mejor atención. ¡Esperamos saber de ti pronto!</p>
                <div class="d-flex flex-column mb-3">
                    <h5 class="font-weight-semi-bold mb-3">Nuestros datos</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>La Rioja, Argentina</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@gmail.com</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>3804 12345678</p>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Contact End -->
    <%- include('partials/footer') %>
    <%- include('partials/script') %>
</body>
</html>