src/styles/Sidebar.css

/* Menú fijo en la parte superior */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;  /* Ancho del menú */
    height: 100vh;  /* Altura completa de la pantalla */
    background-color: #0b0b0b;  /* Color de fondo del menú */
    z-index: 1000;  /* Asegúrate de que el menú esté sobre otros elementos */
    padding-top: 20px;
    padding-left: 20px;
}

.menu-item {
    color: black;
    font-size: 1rem;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #097cf0;  /* Color al pasar el ratón */
    border-radius: 10px;
}

/* Cuando el menú es fijo, el contenido principal debe tener margen a la izquierda */
.main-content {
    margin-left: 250px; /* Esto hace que el contenido se mueva hacia la derecha para que no quede debajo del menú */
    padding: 20px;
}
