<%- include('../partials/head') %>

<style>
    .input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

</style>

<body>
    <div class="container">
        <div class="login-box">
            <div class="logo-login">
                <img src="/img/DRONSAR_PROP-10.svg" class="login-image" alt="Logo">
            </div>
            <h1>Bienvenido</h1>
            <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
            <form action="/users/register" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
                <div class="input-group">
                    <label for="nombres">Nombres:</label>
                    <input type="text" id="nombres" name="nombres" placeholder="Nombres" required autocomplete="off">
                </div>
                <div class="input-group">
                    <label for="apellidos">Apellidos:</label>
                    <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos" required autocomplete="off">
                </div>
                <div class="input-group">
                    <label for="email">Correo electrónico:</label>
                    <input type="email" id="email" name="email" placeholder="Email" required autocomplete="off">
                </div>
                <div class="input-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                    <p>La contraseña debe tener al menos 8 caracteres</p>
                </div>
                <div class="input-group">
                    <label for="confirm-password">Confirmar Contraseña:</label>
                    <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirmar Contraseña" required autocomplete="off">
                </div>
                <div class="input-group">
                    <label for="profileImage">Imagen de perfil:</label>
                    <input type="file" id="profileImage" name="profileImage" accept="image/*">
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="remember-me" name="remember-me">
                    <label for="remember-me">Guardar contraseña</label>
                </div>
                <button type="submit">Registrarse</button>
            </form>
        </div>
    </div>

    <script>
        function validateForm() {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;

            if (password !== confirmPassword) {
                alert('Las contraseñas no coinciden');
                return false;
            }
            return true;
        }
    </script>
</body>

</html>